body {

}
.center{
  text-align: center;
}
ul {
  text-align: left;

 }
p {
  text-align: left;
}


.box {
  border: 5px solid black;
  overflow: auto;
}
.box img{
  height: 200px;
  width: auto;
}

.box imgl{
  float: left;
}
.box imgr{
  float: right;
}
